
.page{
   background: rgb(0,153,255);
    background: linear-gradient(45deg, rgba(0,153,255,1) 0%, rgba(0,226,255,1) 44%, rgba(239,255,0,1) 100%);
    
    margin: 0;
    box-sizing: border-box;
    
}

body {
    margin: 0;
    box-sizing: border-box;

    /* color variables, used later in the code */
    --fontFrom: #65dfc9;
    --fontTo: #6cdbeb;
    --loginFrom: rgba(255, 255, 255, 0.7);
    --loginTo: rgba(255, 255, 255, 0.3);
    --loginShadow: rgba(255, 255, 255, 0.9);
}

main {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 1rem;
    border: none;

    outline: none;
}


/* log in form */

#form {
    min-width: 490px;
    max-width: 490px;
    padding: 2rem;
    
    border-radius: 2rem;

    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_item {
    width: 100%;
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-evenly;
}

.btn-container {
    margin-bottom: 0;
}

.form_item input,button {
    font-size: 1.5rem;

    box-sizing: border-box;
    padding: 0.5rem 1rem;

    flex-grow: 2;
}

.form_item label {
    flex-grow: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 1rem;
}

#login-btn {
    border-radius: 2rem;
    border: none;

}

#login-btn:hover {
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.7);
}

.title{
    display:inline-block;
    align-self: center;
}

#title
{
    font-size: 500%;
    font-family:monospace;
    color:white;
    text-transform: uppercase;
}

*{
    box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

ol.gradient-list {
    
    display: block;
    position: relative;
    border: none;
    border-radius: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 1%;
    
  counter-reset: gradient-counter;
  list-style: none;  
}
ol.gradient-list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  margin-top: 2rem;
    
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}
ol.gradient-list > li::before,
ol.gradient-list > li::after {
  background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}
ol.gradient-list > li::before {
  align-items: flex-end;
  content: counter(gradient-counter);
  color: #1d1f20;
  display: flex;
  font: 900 1.5em/1 "Montserrat";
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}

.btn {
  display:inline-block;
  align-self: center;
  margin: 16px auto;
  padding: 0;
  width: 300px;
  height: 60px;
  font-size: 18px;
  font-weight: 650;

  overflow: hidden;
  cursor: pointer;

  border-width: 0;
  outline: none;
  border-radius: 8px;
  box-shadow: none;

  background-color: #286e77;
  color: #ffffff;

  transition: background-color 0.3s;
}

.btn-small {
  
  margin: 16px auto;
  padding: 0;
  width: 100px;
  height:30px;
  font-size: 18px;
  font-weight: 650;

  

  border-width: 0;
  outline: none;
  border-radius: 8px;
  box-shadow: none;

  background-color: #286e77;
  color: #ffffff;

  transition: background-color 0.3s;
}

.link {
  text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.main_btn{
    padding-left: 1rem;
}

.logout-container{
    text-align: right;
    margin: 1rem 1rem 0 0;
}

.logout-btn{
    background-color: #3e720a
}


