.page {
    background: rgb(0, 153, 255);
    background: linear-gradient(45deg, rgba(0, 153, 255, 1) 0%, rgba(0, 226, 255, 1) 44%, rgba(239, 255, 0, 1) 100%);
    margin: 0;
    box-sizing: border-box;

}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    display: block;
    margin-bottom: 2vh;
    font-size: 30px;
}

#gform {
    height: 30rem;
    width: 30rem;
}

#form-content {
    height: 30rem;
    width: 40rem;
}

textarea {
    border-radius: 10px;
    border: none;
}

.wrapper {
    display: inline-block;
    margin-left: 2rem;
}

form {
    text-align: center;
    margin-top: 5vh;
}

button {
    margin-top: 4vh;
    text-align: center;

    width: 300px;
    height: 60px;
    font-size: 18px;
    font-weight: 650;

    overflow: hidden;
    cursor: pointer;

    border-width: 0;
    outline: none;
    border-radius: 8px;
    box-shadow: none;

    background-color: #286e77;
    color: #ffffff;

    transition: background-color 0.3s;
}
